html {
  display: block;
}

body {
  margin: 0 auto;
  font-family: Yantramanav;
}


/* HEADER EXTENDED */

div#nav {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  background-color: WHITE;
  top: 0;
}

img#logo {
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

#extended ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding-right: 15px;
  margin-top: -28px;
  font-size: 16px;
}

#extended li {
  float: left;
  margin-left: 12.5px;
}

#extended a {
  text-decoration: none;
  color: #a3a3a3;
}

#extended a:hover {
  color: #4d4d4d;
}


div#grad {
  background-image: linear-gradient(to bottom, rgb(200, 200, 200, 25%), rgb(0, 0, 0, 0%));
  width: 100%;
  height: 8px;
  position: fixed;
  top: 60px;
  z-index: 1;
}

div#collapsed {
  display: none;
  position: absolute;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  line-height: 1.75;
  background-color: rgba(255,255,255,.95);
  border: solid 1px #d3d3d3;
  border-left: none;
  border-right: none;
}

#collapsed a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 20px;
}

a.icon {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
  font-size: 24px;
  color: RED;
}

div#splash {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: -132px;
  margin-bottom: 72px;
  background-color: RED;
  background-image: url(images/sunrise.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* MAIN */

main {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 136px;
}

div.section {
  position: relative;
  width: 100%;
  height: auto;
}

div.content {
  padding: 0px 0% 76px 0%;
  margin: auto;
  width: 85%;
  max-width: 900px;
  color: #4d4d4d;
  line-height: 1.1;
}

div.grey {
  background-color: #f9f9f9;
}

h1 {
  color: RED;
  font-size: 36px;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-family: Rubik;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-top: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

ol {
  font-size: 18px;
  margin: 0px;
  padding-left: 20px;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  font-weight: 400;
}

ol > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

ol li {
  margin-top: 8px;
  padding-left: 4px;
}

p {
  font-size: 18px;
  margin-top: 8px;
}

h4 {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 20px;
}

#services img {
  position: relative;
  float: left;
  bottom: 0;
  width: 16px;
  margin-left: -1px;
  margin-right: 8px;
  vertical-align: text-bottom;

}

#services h3 {
  margin: 0;
}

#services table {
  margin-top: -20px;
}

#services td {
  width: 450px;
  vertical-align: top;
}

span {
  display: block;
  position: relative;
  margin-bottom: 8px;
  margin-top: 24px;
}

#contact {
  background-color: #aa0000;
  text-align: center;
  font-size: 18px;
}

#contact h1 {
  color: WHITE;
}

#contact a {
  text-decoration: none;
  color: WHITE;
}

#table table {
  margin-top: -36px;
  margin-left: -20px;
  margin-right: -20px;
  vertical-align: middle;
  border-spacing: 20px;
}

#table tbody {
  border: solid 4px RED;
}

#table tr {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

#table td {
  width: 300px;
  height: 50px;
  text-align: center;
  border: solid 2px RED;
  padding: 1%;
}

#table td h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

#table td a {
  text-decoration: none;
}

#table td a:hover {
  text-decoration: underline;
  text-decoration-color: RED;
}



/* CONDITIONALS */

@media (max-width: 899px) {

  div#extended {
    display: none;
  }

  #table td h1 {
    font-size: 16px;
  }

  #services td {
    display: inline-block;
    width: inherit;
  }

  #services img {
    display: none;
  }

}

@media (max-width: 449px) {

  #table table {
    border-spacing: 0;
    margin-left: 0;
    margin-bottom: -5%;
  }

  #table td {
    display: inline-block;
    width: 82.5%;
    padding: 5%;
    height: auto;
    margin-bottom: 5%;
  }

  #table td h1 {
    font-size: 20px;
  }

}

@media (min-width: 900px) {

  div#collapsed, a.icon {
    display: none;
  }

}
