html {
  display: block;
}

body {
  margin: 0 auto;
  font-family: Rubik;
}


/* CONDITIONALS */

@media (max-width: 699px) {

div#extended {
  display: none;
}

}

@media (min-width: 700px) {

div#collapsed, a.icon {
  display: none;
}

}


/* HEADER EXTENDED */

div#nav {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  background-color: WHITE;
}

img#logo {
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

#extended ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding-right: 15px;
  margin-top: -28px;
  font-size: 16px;
}

#extended li {
  float: left;
  margin-left: 12.5px;
}

#extended a {
  text-decoration: none;
  color: #a3a3a3;
}

#extended a:hover {
  color: #4d4d4d;
}


div#grad {
  background-image: linear-gradient(to bottom, rgb(200, 200, 200, 25%), rgb(0, 0, 0, 0%));
  width: 100%;
  height: 8px;
  position: fixed;
  top: 60px;
  z-index: 1;
}

div#splash {
  height: 100vh;
  min-height: 100%;
  background-color: RED;
}

div#collapsed {
  display: none;
  position: absolute;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  line-height: 1.75;
  background-color: rgba(255,255,255,.95);
  border: solid 1px #d3d3d3;
  border-left: none;
  border-right: none;
}

#collapsed a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 20px;
}

a.icon {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
  font-size: 24px;
  color: RED;
}


/* MAIN */

main {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}

div.section {
  position: relative;
  width: 100%;
  height: auto;
}

div.content {
  padding: 76px 0% 76px 0%;
  /*padding: 84px 0px 84px 0px;*/
  margin: auto;
  width: 85%;
  max-width: 900px;
  color: #4d4d4d;
}

div.grey {
  background-color: #f9f9f9;
}

h1 {
  color: RED;
  font-size: 36px;
  margin: 0;
  margin-bottom: 28px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

ol {
  font-size: 18px;
  margin: 0px;
  padding-left: 20px;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

ol > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

ol li {
  margin-top: 8px;
  padding-left: 4px;
}

h4 {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  margin-top: -10px;
}

#services img {
  position: relative;
  float: left;
  bottom: 0;
  width: 16px;
  margin-top: 2px;
  margin-left: -1px;
  margin-right: 8px;
  vertical-align: text-bottom;

}

#services h3 {
  margin: 0;
}

#services ol {

}

span {
  display: block;
  position: relative;
  margin-bottom: 8px;
  margin-top: 24px;
}

#contact {
  background-color: #aa0000;
  text-align: center;
  font-size: 18px;
}

#contact h1 {
  color: WHITE;
}

#contact a {
  text-decoration: none;
  color: WHITE;
}



/*

html {
  display: block;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

div#navMobile {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding-right: 2%;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: Rubik;
  color: #f9f9f9;
  font-weight: 500;
  text-align: right;
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

li a:hover {
    color: #cccccc;
}

div#bottomHeader {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: WHITE;
}

div#nav {
  height: 60px;
  margin: auto;
}

img#logo {
  position: absolute;
  height: 30px;
  margin-top: 15px;
  margin-left: 2%;
}

#bottomHeader li a {
  color: #a3a3a3;
  font-weight: 400;
  font-size: 16px;
  margin-top: 22px;
}

#bottomHeader li a:hover {
  color: #d3d3d3;
}

div#grad {
  background-image: linear-gradient(to bottom, rgb(200, 200, 200, 25%), rgb(0, 0, 0, 0%));
  width: 100%;
  height: 8px;
  position: fixed;
  top: 60px;
  z-index: 1;
}

div#splash {
  height: 100vh;
  background-color: RED;
}

main {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  font-family: Rubik;
}

div.section {
  position: relative;
  width: 100%;
  height: auto;
}

div.content {
  padding: 10% 0% 10% 0%;
  margin: auto;
  width: 800px;
  max-width: 80%;
}

div.grey {
  background-color: #f9f9f9;
}

div#about {
  margin-top: 60px;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  color: RED;
  margin: 0;
  margin-bottom: 28px;
}

p {
  font-size: 28px;
  color: #4d4d4d;
  margin: 0;
  margin-top: 8px;
}

b {
  font-weight: 500;
}

table {
  width: 100%;
}

tr {
  height: 120px;
}

th {
  width: 80px;
}

th img {
  width: 100%;
}

td {
  vertical-align: middle;
  padding-left: 24px;
}

td p {
  font-size: 18px;
}

h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  color: #4d4d4d;
}

#partner table {
  margin-top: 8px;
  margin-left: 18px;
  margin-bottom: 24px;
  border-collapse: collapse;
}

#partner tr {
  height: auto;
}

#partner td {
  border-left: solid #4d4d4d 2px;
  height: auto;
  padding-left: 12px;
}

#partner p {
  margin: 0;
  font-size: 18px;
}

div#contact {
  background-color: #aa0000;
  text-align: center;
}

#contact h1, #contact p {
  color: WHITE;
}
